Automobile Dashboard Requirements 
Mar, 2025 


1) Generate gauge visual: Values of visual- average of peak-rpm, maximum value of the visual max of peak rpm and target value of the visual average peak rpm 
2) Provide slicer for fuel-system 
3) Provide slicer for body-style 
4) Provide slicer for length  
5) Generate a Bar chart to display avg of horsepower based on body-style of the car 
6) Generate a Bar chart to display avg of peak rpm based on body style of the car  
7) Provide slicer on Brand name (display it horizontally in single row) (use slicer tile option)

Display manufacturer's logo at the top
Display Car image at the bottom of the page 


Use below colour codes (These represents our company brand)
 
Black #000000
White - #FFFFFF 
Yellow #098300 
